.SettingsItem {
  @include display(flex, space-between, center);
  @include font-roboto(rem(18), #e5e9f0, normal, normal, rem(21));

  margin-top: rem(33);
  margin-bottom: rem(33);

  @include mq('phone') {
    font-size: rem(16);
  }

  &:nth-child(3) {
    margin-bottom: rem(90);
  }

  & button {
    background: none;
    border: none;

    transition: color 0.2s linear;
    cursor: pointer;

    & svg {
      width: rem(16);
      height: rem(16);

      color: #e5e9f0;
    }

    &:hover svg {
      color: #bf616a;
    }
  }
}

.Value {
  @include font-roboto(rem(18), #e5e9f0, normal, normal, rem(21));
  display: inline-block;
  text-align: right;

  width: rem(70);
  height: rem(21);

  border-bottom: 1px solid #e5e9f0;

  margin-right: rem(10);

  @include mq('phone') {
    font-size: rem(16);
    width: rem(50);
  }
}
