.SettingsPanel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: rem(450);
  height: 100%;
  padding: rem(97) rem(45) rem(45) rem(32);

  z-index: z('settings-panel');
  background-color: #434c5e;

  transform: translateX(600px);

  transition: transform 0.5s ease;

  &:before {
    @include pseudo();
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #4c566a;
  }
}

.SettingsPanel.open {
  transform: translateX(0px);
}

.Minutes {
  margin-right: rem(10);
}

.SettingsItem {
  @include display(flex, space-between, center);
  @include font-roboto(rem(18), #e5e9f0, normal, normal, rem(21));

  margin-top: rem(33);
  margin-bottom: rem(33);

  &:nth-child(3) {
    margin-bottom: rem(90);
  }

  & input {
    @include font-roboto(rem(18), #e5e9f0, normal, normal, rem(21));

    text-align: right;

    width: rem(70);
    height: rem(21);

    background: none;
    border: none;
    border-bottom: 1px solid #e5e9f0;

    margin-right: rem(10);
  }

  & button {
    background: none;
    border: none;

    transition: color 0.2s linear;
    cursor: pointer;

    & svg {
      width: rem(16);
      height: rem(16);

      color: #e5e9f0;
    }

    &:hover svg {
      color: #bf616a;
    }
  }
}
