.SettingsPanel {
  position: fixed;
  top: 0;
  right: -450px;
  bottom: 0;

  width: rem(450);
  height: 100%;
  padding: rem(97) rem(45) rem(45) rem(32);

  z-index: z('settings-panel');
  background-color: #434c5e;

  transition: all 0.5s ease;

  @include mq('phone-wide') {
    width: rem(400);
  }

  @include mq('phone') {
    width: 100%;
    padding: rem(97) rem(20) rem(45) rem(20);
  }

  &:before {
    @include pseudo();
    left: 0;

    width: 100%;
    height: 1px;
    background-color: #4c566a;
  }
}

.SettingsPanel.open {
  right: 0;
}
