*,
:before,
:after {
  box-sizing: border-box;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #4c566a;

  overflow: hidden;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

svg {
  fill: currentColor;
}
